.card {
  &__content {
    display: flex;
    padding: 0.5rem;
  }
  &__item {
    //   margin-right: 10rem;
    span {
      color: $primary;
      font-size: 20px;
    }
    &--alt {
      .p--alt {
        color: black;
        font-size: 20;
      }
    }
  }
  &__content:first-child {
    border-bottom: 3px solid rgb(197, 197, 197);
    margin-bottom: 0.5rem;
  }
  &__info {
    p {
      color: gray;
    }
  }
}

.container--alt {
  // border: 1px solid;
  padding: 1rem;
  width: 75%;
}
